@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background: url("./bilder/craig-bradford-TZZHPuL2Z2s-unsplash.jpg");
}
div {
    width: 800px;
    background: rgb(255, 145, 2);
    margin: 50px auto 0 auto;
    border: 10px solid yellow;
    border-radius: 25px;
    padding: 60px;
    font-family: 'Caveat', cursive;
    color: #fff;
}
h1 {
    font-size: 80px;
}
p {
    
    margin-top: 10px;
}
h2 {
    margin-top: 15px;
}
ul {
    margin-left: 20px;
    list-style-type: armenian;
}


